* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
body {
  background-color: black;
  color: white;
  max-width: 80%;
  margin: auto;
}
header {
  display: flex;
  margin: auto;
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  background-color: black;
}
#logo {
  width: 500px;
  color: red;
  letter-spacing: 4px;
}
nav {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}
.test {
  margin-left: 50px;
  font-size: 15px;
  padding: 20px;
}
.test:hover {
  color: red;
  transition: 0.5s;
}

#main-block {
  height: 500px;
}
#banner-text {
  font-size: 50px;
  letter-spacing: 5px;
  text-align: center;
  padding-top: 200px;
}
#button-div {
  height: 50px;
  text-align: center;
}
.enter-button {
  padding: 10px;
  width: 100px;
  border-radius: 50px;
}
.enter-button:nth-child(1) {
  background-color: black;
  color: white;
  border-color: white;
}
.enter-button:nth-child(2) {
  background-color: red;
  color: white;
  border-color: black;
}

#who-are-we {
  height: 200px;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}
#who-are-we-text {
  font-size: 40px;
}
#text-who {
  font-size: 20px;
  letter-spacing: 1px;
}
#target {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
#target-text {
  display: grid;
  grid-template-rows: 100px 100px;
  justify-content: center;
  text-align: center;
}
#target-text > #goal {
  font-size: 40px;
}

footer {
  height: 50px;
  display: grid;
  grid-template-columns: 40% 60%;
  margin: auto;
}
#copyright {
  font-size: 20px;
  margin: auto;
}
#socials {
  display: flex;
  justify-content: flex-end;
  margin: auto;
}
